@model IEnumerable<WebDeveloper.Model.Products>
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<div>
    @Html.ActionLink("New Product", "Create")
</div>
<div>
    <table>
        <tr>
            <th>
                OrderId
            </th>
            <th>
                CustomerId
            </th>
            <th> EmployeeID </th>
            <th>OrderDate </th>
            <th> RequiredDate </th>
            <th> ShippedDate </th>
            <th> Shipvia </th>
            <th> Freight </th>
            <th> ShipName </th>
            <th> ShipAddress </th>
            <th> ShipCity </th>
            <th> ShipRegion </th>
            <th> ShipPostalCode </th>
            <th> Shipcountry </th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductID </td>
                <td>@product.ProductName </td>
                <td>@product.SupplierID </td>
                <td>@product.CategoryID </td>
                <td>@product.QuantityPerUnit </td>
                <td>@product.UnitPrice </td>
                <td>@product.UnitsInStock </td>
                <td>@product.UnitsOnOrder </td>
                <td>@product.ReorderLevel </td>
                <td>@product.Discontinued </td>
                
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = product.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = product.ProductID })
                </td>
            </tr>
        }
    </table>
</div>



