@model IEnumerable<WebDeveloper.Model.Orders>
@using WebDeveloper.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
<div>
    @Html.ActionLink("New Order","Create")
</div>
<div>
    <table>
        <tr>
                    <th>
                        OrderId
                    </th>
                    <th>
                        CustomerId
                    </th>
                    <th> EmployeeID </th>
                    <th>OrderDate </th>
                    <th> RequiredDate </th>
                    <th> ShippedDate </th>
                    <th> Shipvia </th>
                    <th> Freight </th>
                    <th> ShipName </th>
                    <th> ShipAddress </th>
                    <th> ShipCity </th>
                    <th> ShipRegion </th>
                    <th> ShipPostalCode </th>
                    <th> Shipcountry </th>                    
                </tr>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderID </td>
                        <td>@order.CustomerID </td>
                        <td>@order.EmployeeID </td>
                        @Html.DisplayDateOrNullExtension(order.OrderDate)
                        @Html.DisplayDateOrNullExtension(order.RequiredDate)
                        @Html.DisplayDateOrNullExtension(order.ShippedDate)
                        <td>@order.ShipVia </td>
                        <td>@order.Freight </td>
                        <td>@order.ShipName </td>
                        <td>@order.ShipAddress </td>
                        <td>@order.ShipCity </td>
                        <td>@order.ShipRegion </td>
                        <td>@order.ShipPostalCode </td>
                        <td>@order.ShipCountry </td>
                        
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = order.OrderID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = order.OrderID })
                        </td>
                    </tr>
                }
            </table>
</div>

